@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --card-border-radius: 2rem;
  --card-padding: 24px;
  --padding-1: 1.2rem;
}

.bar-chart-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
}

.axis {
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

main .second-insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.6rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

main .second-insights > div {
  background-color: white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  padding-bottom: 40px;
  margin-bottom: 1.6rem;
  padding-right: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#status,
#metrics,
#controls {
  margin-bottom: 20px;
}

#controls button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#controls button:hover {
  background-color: #0056b3;
}

input[type="range"] {
  width: 100%;
}

#airflow-slider.active::-webkit-slider-thumb {
  background-color: #007bff;
}

#airflow-slider[disabled]::-webkit-slider-thumb {
  background-color: #ccc;
  cursor: not-allowed;
}

#airflow-slider {
  background-color: #ccc;
  border-radius: 10px;
}

.insights-container {
  display: flex;
  flex-direction: column;
}

.airflow-container,
.power_container {
  display: flex;
  align-items: center;
}

#fan {
  margin-right: 8px;
}

#bolt {
  margin-right: 8px;
}

.metrics-box {
  display: flex;
}

#metrics,
#controls {
  flex: 1;
  margin: 0 10px;
}

.historical-chart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historical-chart {
  width: 70%;
  height: 300px;
}

.second-insights {
  margin-top: 20px;
}
.insights-container {
  display: flex;
  flex-direction: column;
}

.filter-container select {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px;
  max-width: 100%;
  cursor: pointer;
  outline: none;
}

.error {
  background-color: #ffcccc;
}

.notification {
  display: flex;
  align-items: center;
  background-color: #fef7e9;
  border: 1px solid #ef9300;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px !important;
  margin-top: 16px;
  width: 375px;
}

.notification .material-symbols-outlined {
  margin-right: 10px;
  color: #ef9300;
}

.close-button {
  margin-left: 30px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  color: #696969;
}

.alert {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px !important;
  margin-top: 16px;
}

.alert-message {
  color: black;
}

.n-close-button {
  margin-left: 50px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  color: #696969;
}

/* Media query for responsiveness */
/* @media screen and (max-width: 768px) {
  aside {
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    grid-template-columns: 1fr;
  }

  .menu-toggle {
    display: block;
    padding: 1rem;
    cursor: pointer;
  }

  .sidebar {
    display: none;
  }

  .airflow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .power-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #alerts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
} */
