@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #1e1e24;
  --color-notification: #eb5757;
  --color-grid: #fff;
  --color-label: #696969;
  --color-green: #6b7e2a;
  --color-yellow: #f7c752;
  --color-alert: #fef7d1;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: #eeeeee;

  --card-border-radius: 2rem;
  --card-padding: 24px;
  --padding-1: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100%;
  margin: auto;
  background-color: #eeeeee;
  grid-template-columns: 14rem auto;
}

a {
  color: var(--color-background);
}

img {
  display: block;
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.7rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.text-muted {
  color: var(--color-label);
}

p {
  color: var(--color-primary);
}

.primary {
  color: var(--color-primary);
}

.alert {
  color: var(--color-alert);
}

.green {
  color: var(--color-green);
}

.yellow {
  color: var(--color-yellow);
}

aside {
  min-height: 100vh;
  background-color: #1e1e24;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .close {
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  align-items: center;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-background);
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3rem;
  margin-bottom: 24px;
  transform: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  font-weight: 500;
}

aside .sidebar a.active:before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #eeeeee;
}

aside .sidebar a:hover {
  color: var(--color-primary);
  background-color: #eeeeee;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
}

aside .sidebar a.selected {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

/* ====Main=== */
main {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

main .insights > div {
  background-color: white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  padding-bottom: 40px;
  margin-bottom: 1.6rem;
  padding-right: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.6rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 24px;
}

main .insights svg circle {
  fill: none;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .insights .progress .number {
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .insights .parameters {
  display: flex;
  position: relative;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

main .insights .parameters span {
  position: relative;
  top: 8px;
}

main .insights .parameters .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  text-align: center;
}
.mini-logo img {
  display: none;
}

.column h2 {
  margin-top: 8px;
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-toggle,
.gate-toggle,
.grocery-toggle,
.grass-toggle {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1e1e24;
  padding: 10px;
}

#content nav {
  height: 70px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

/* Media Query for Responsive Navbar */
@media screen and (max-width: 768px) {
  #content nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  aside {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  aside .sidebar {
    display: none;
  }

  .menu-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    grid-template-columns: 1fr;
  }

  #content {
    width: 100%;
  }

  nav {
    height: 70px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
  }

  .mini-logo img {
    display: block;
    margin-left: 20px;
    width: 60%;
    margin-bottom: 32px;
  }

  .dashboard-toggle,
  .gate-toggle,
  .grocery-toggle,
  .grass-toggle {
    display: block;
    margin-top: 24px;
  }

  .selected {
    background-color: white;
    color: var(--color-primary);
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 15px;
  }

  a:hover {
    color: var(--color-primary);
    background-color: #eeeeee;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 15px;
  }

  .logo img {
    display: none;
  }

  .airflow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .power-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .notification,
  .notification-message,
  .alert,
  .alert-message {
    max-width: 75%;
    margin-left: 70px;
  }
}
